<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
    <style>
    h1 {
      color: red;
      font-family: impact;
      font-size: 100px;
      text-align: center;
    }
    body {
      background-color: #C4EFEA;
    }
    h3 {
      text-align: center;
      font-size: 40px;
      font-family: fantasy;
    }
    a:link {
      font-size: 25px;
      color: #A91010;
      text-decoration: none;
    }
    a:hover{
      color: hotpink;
      text-decoration: underline;
    }
    </style>
</head>
<body>
  <h1>Scoreboard</h1>
<h3>High School Basketball and Football Statistics</h3>
<a href = "/searchPlayer">Player Statistics</a></br>
<a href = "/searchCoach">Team Statistics</a></br>
<a href = "/basketballscores">Scores</a></br>
<a href = "/">Home Page</a>
</body>
</html>
