<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
</head>
<body>
  <h1>Input School</h1>
<form action = "{{ url_for('addrec') }}" method = "POST">
  Input School Information to Insert:<br>
  <p>School ID:</p>
  <input type="text" schoolid="schoolid"><br>
  <p>City:</p>
  <input type="text" city="city"><br>
  <p>State:</p>
  <input type="text" state="state"><br>
  <p>Mascot:</p>
  <input type="text" mascot="mascot"><br>
  <p>School Name:</p>
  <input type="text" name="name"><br>
  <input type = "submit" value = "submit" /><br>
</form>
<a href = "/">Go Back to Home Page</a>
</body>
</html>
