<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
</head>
<body>
  <h1>Input Team</h1>
<form action = "{{ url_for('addrec') }}" method = "POST">
  Input Team Information to Insert:<br>
  <p>Name:</p>
  <input type="text" name="name"><br>
  <p>Team ID:</p>
  <input type="text" teamid="teamid"><br>
  <p>Sport:</p>
  <input type="text" sport="sport"><br>
  <p>League:</p>
  <input type="text" league="league"><br>
  <p>Division:</p>
  <input type="text" division="division"><br>
  <p>School ID:</p>
  <input type="text" schoolid="schoolid"><br>
  <input type = "submit" value = "submit" /><br>
</form>
<a href = "/">Go Back to Home Page</a>
</body>
</html>
