<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
    <style>
    h1 {
      color: red;
      font-family: impact;
      font-size: 100px;
      text-align: center;
    }
    body {
      background-color: #C4EFEA;
    }
    h3 {
      text-align: center;
      font-size: 40px;
      font-family: fantasy;
    }
    a:link {
      font-size: 25px;
      color: #A91010;
      text-decoration: none;
    }
    a:hover{
      color: hotpink;
      text-decoration: underline;
    }
    </style>
</head>
<body>
  <h1>Input Team</h1>
<form action = "{{ url_for('addrec') }}" method = "POST">
  Input Team Information to Insert:<br>
  <p>Name:</p>
  <input type="text" name="name"><br>
  <p>Team ID:</p>
  <input type="text" teamid="teamid"><br>
  <p>Sport:</p>
  <input type="text" sport="sport"><br>
  <p>League:</p>
  <input type="text" league="league"><br>
  <p>Division:</p>
  <input type="text" division="division"><br>
  <p>School ID:</p>
  <input type="text" schoolid="schoolid"><br>
  <input type = "submit" value = "submit" /><br>
</form>
<a href = "/">Home Page</a>
</body>
</html>
