<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
</head>
<body>
  <h1>Scoreboard</h1>
<h3>High School Basketball and Football Statistics</h3>
<a href = "/searchPlayer">Functioning for 10 different inputs!!!</a></br>
<a href = "/insertPlayer">Add Player(s)</a></br>
<a href = "/insertSchedule">Add Schedule(s)</a></br>
<a href = "/insertSchool">Add School(s)</a></br>
<a href = "/insertTeam">Add Team(s)</a></br>
<a href = "/insertCoach">Add Coach(es)</a></br>
<a href = "/insertBTeamStats">Add Basketball Team Stats</a></br>
<a href = "/insertBPlayerStats">Add Basketball Player Stats</a></br>
<a href = "/insertFTeamStats">Add Football Team Stats</a></br>
<a href = "/insertFPlayerStats">Add Player Stats</a></br>
<a href = "/insertTeamStats">Add Game Outcome(s)</a></br>
<a href = "/">Go back to home page</a>
</body>
</html>
