<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
</head>
<body>
  <h1>Input Player Stats</h1>
<form action = "{{ url_for('addrec') }}" method = "POST">
  Input Player Stats to Insert:<br>
  <p>Player ID:</p>
  <input type="text" playerid="id"><br>
  <p>Passing Yards:</p>
  <input type="text" passyards="passyards"><br>
  <p>Rushing Yards:</p>
  <input type="text" rushyards="rushyards"><br>
  <p>Receptions:</p>
  <input type="text" receptions="receptions"><br>
  <p>Interceptions Thrown:</p>
  <input type="text" ointerceptions="ointerceptions"><br>
  <p>Touchdowns:</p>
  <input type="text" touchdowns="touchdowns"><br>
  <p>Recieving Yards:</p>
  <input type="text" recievingyards="recievingyards"><br>
  <p>Fumbles:</p>
  <input type="text" fumbles="fumbles"><br>
  <p>Interceptions:</p>
  <input type="text" dinterceptions="dinterceptions"><br>
  <p>Sacks:</p>
  <input type="text" sacks="sacks"><br>
  <p>Tackles:</p>
  <input type="text" tackles="tackles"><br>
  <p>Forced Fumbles:</p>
  <input type="text" forcefumbles="forcefumbles"><br>
  <input type = "submit" value = "submit" /><br>
</form>
<a href = "/">Go Back to Home Page</a>
</body>
</html>
