<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
    <style>
    h1 {
      color: red;
      font-family: impact;
      font-size: 100px;
      text-align: center;
    }
    body {
      background-color: #C4EFEA;
    }
    h3 {
      text-align: center;
      font-size: 40px;
      font-family: fantasy;
    }
    a:link {
      font-size: 25px;
      color: #A91010;
      text-decoration: none;
    }
    a:hover{
      color: hotpink;
      text-decoration: underline;
    }
    </style>
</head>
<body>
  <h1>Input Player</h1>
<form action = "{{ url_for('insertPlayerRequest') }}" method = "POST">
  Input Player Information to Insert:<br>
  <p>Name:</p>
  <input type="text" value="name"><br>
  <p>Player ID:</p>
  <input type="text" value="id"><br>
  <p>Team ID:</p>
  <input type="text" value="teamid"><br>
  <p>Sport:</p>
  <input type="text" value="sport"><br>
  <p>Height:</p>
  <input type="text" value="height"><br>
  <p>Weight:</p>
  <input type="text" value="weight"><br>
  <p>Position:</p>
  <input type="text" value="position"><br>
  <input type = "submit" value = "submit" /><br>
</form>
<a href = "/">Home Page</a>
</body>
</html>
