<!doctype html>
<html>
   <body>
     <head>
     <style>

     body {

       background-color: #C4EFEA;
     }

     </style>
     </head>

      <table border = 1>
         <thead>
            <td>Date</td>
            <td>Home Team</td>
            <td>Score</td>
            <td>Away Team></td>
            <td>Score</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["date"]}}</td>
               <td>{{row["home"]}}</td>
               <td>{{row["homescore"]}}</td>
               <td>{{row["away"]}}</td>
               <td>{{row["awayscore"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Home Page</a>

   </body>
</html>
