<!DOCTYPE html>
<html>
<head>
    <title>Scoreboard</title>
    <style>
    h1 {
      color: red;
      font-family: impact;
      font-size: 100px;
      text-align: center;
    }
    body {
      background-color: #C4EFEA;
    }
    h3 {
      text-align: center;
      font-size: 40px;
      font-family: fantasy;
    }
    a:link {
      font-size: 25px;
      color: #A91010;
      text-decoration: none;
    }
    a:hover{
      color: hotpink;
      text-decoration: underline;
    }
    </style>
</head>
<body>
  <h1>Search player</h1>
<form action = "{{ url_for('addrec4') }}" method = "POST">
  Search team id:<br>
  <input type="text" name="id"><br>
  <input type = "submit" value = "submit" /><br>
</form>
<form action = "{{ url_for('addrec5') }}" method = "POST">
  Search team name:<br>
  <input type="text" name="Name"><br>
  <input type = "submit" value = "submit" /><br>
</form>
<a href = "/">Home Page</a>
</body>
</html>
